.calendar {
    color: var(--text-change);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: hidden;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1050;
    animation: fadeIn 0.3s ease;
    backdrop-filter: blur(3px);
}

.modal-container {
    background-color: var(--card-background);
    width: 40vw;
    height: auto;
    padding: 2vh 2vw;
    border-radius: var(--borde-radio);
}

.modal-container h2 {
    color: var(--text-change);
    text-align: center;
    font-size: 1.5rem;
    margin: 0 0 20px 0;
}

.modal_head {
    position: relative;
}

.icon_close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    font-size: 2rem;
}

.modal-container input,
.modal-container textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
}

.modal-container .btns-container {
    display: flex;
}

.form_estatus {
    display: flex;
}

.form_list form label,
.form_list form select {
    margin-bottom: 5px;
}

.modal-container button {
    display: block;
    padding: 15px 25px;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
    flex: 1;
    background-color: var(--planner-color);
    border: none;
    border-radius: 4px;
    margin: 5px;
}

.modal-container button.delete-event-btn {
    background-color: var(--dangerColor);
    transition: transform 0.3s;
}

button:hover {
    transform: scale(1.05);
}

@media (max-width: 991px) {
    .modal-container {
        width: 100vw;
    }
}