.nota_miniatura{
    width: 249px;
    height: 271px;
    background-color: #A2CFFE;
    position: relative;
}

.section_board{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: space-around;
}

h3 {
    background-color: #65B0FF;
    padding: 10px;
    font-size: 1.1rem;
}

.note_description {
    color: gray;
}

.no_adjunto {
    color: blueviolet;
    font-style: italic;
    font-size: 0.7rem;
}

.empty-state{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25rem 0;
}

.empty-state p{
    color: #6b7280; /* gris suave */
    font-style: italic;
    margin: 0;
}

.contenido{
    padding: 0 10px;
    font-size: 0.9rem;
}

.files_save {
    cursor: pointer;
    margin-bottom: 0;
}

.list_url {
    padding: 0 10px;
    margin-bottom: 0;
}

.list_url li {
    word-break: break-all;
    font-size: 0.7rem;
}

.actions {
    width: 90%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
}

.actions i {
    font-size: 1.5rem;
    cursor: pointer;
}

/* Estilos para el diálogo */
.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}