.nota_miniatura{
    width: 249px;
    height: 271px;
    background-color: #A2CFFE;
    position: relative;
}

.section_board{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: space-around;
}

h3 {
    background-color: #65B0FF;
    padding: 10px;
    font-size: 1.2rem;
}

.contenido{
    padding: 0 10px;
}

.actions {
    width: 90%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
}

.actions i {
    font-size: 1.5rem;
    cursor: pointer;
}