.contenedor_planner {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    margin: 2vh 2vw;
}

.calendario {
    grid-area: 1 / 1 / 2 / 2;
}

.titulo {
    grid-area: 1 / 2 / 2 / 3;
    margin: 10px auto;
    position: static;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.titulo_contenedor {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo_contenedor h2 {
    font-size: 2.5rem;
    font-weight: 600;
}

@media (max-width: 991px) {
    .contenedor_planner {
        display: flex;
        flex-direction: column-reverse;
    }
    .titulo_contenedor img {
        display: none;
    }
    .titulo_contenedor{
        height: auto;
        position: relative;
    }
    .titulo {
        height: auto;
    }
    .calendario {
        width: 90vw;
        margin: auto;
    }
    .contenedor_planner {
        width: 100vw;
    }
}