.footer{
    width: 100vw;
    height: 40px;
    background-color: var(--home-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-top: auto;
    position: relative;
}