<div class="filter_container">
    <!-- Entrada de texto -->
    <div class="input_tag">
        <input type="text" placeholder="Filtre por etiqueta" class="input">
        <i class="bi bi-search"></i>
    </div>
    <!-- Cantidad de notas -->
    <p class="count_notes">Notas creadas ({{notes.length}})</p>
    <!-- Cantidad de notas por etiquetas -->
    <h6>Etiquetas</h6>
    @for (tag of tagsWithCount; track tag.name) {
    <span>{{ tag.name }}</span><span>({{tag.count}})</span>
    } @empty {
    <p>Aún no tienes etiquetas registradas</p>
    }
    <!-- Botón -->
    <app-more-button></app-more-button>
</div>