.filter_container {
    background-color: var(--tablero-color);
    font-style: italic;
    padding: 15px;
    border-radius: var(--borde-radio);
    min-height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.input_tag {
    background-color: var(--enfasis-tablero);
    height: 40px;
    border-radius: var(--borde-radio);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.input {
    background: none;
    border: none;
    font-style: italic;
    height: 40px;
    border-radius: var(--borde-radio);
    padding: 0 8px;
    text-align: center;
    width: 80%;
}

.input:focus {
    border: var(--home-color) 2px solid;
    outline: none;
}

.input_tag i {
    cursor: pointer;
    transition: transform 0.3s ease;
}

button {
    background: none;
    border: none;
}

.input_tag i:hover {
    transform: scale(1.3);
}

h6 {
    font-weight: bold;
}

app-more-button {
    --boton-color: var(--enfasis-tablero);
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 991px) {
    .filter_container {
        width: 100%;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        min-height: auto;
    }

    .input_tag {
        width: 100%;
        grid-area: 1 / 1 / 2 / 2;
    }

    h6,
    .etiquetas {
        display: none;
    }

    .count_notes {
        grid-area: 2 / 1 / 3 / 2;
        width: 100%;
        align-content: center;
        margin-bottom: 0;
        text-align: center;
    }

    app-more-button {
        grid-area: 1 / 2 / 3 / 3;
        align-self: center;
        justify-content: center;
    }
}