<div class="filter_container">
    <!-- Entrada de texto -->
    <form [formGroup]="tagInput" class="input_tag" (ngSubmit)="showNotesByTag()">
        <input type="text" placeholder="Filtre por etiqueta" formControlName="tagForm" class="input"
            [class.is-invalid]="tagInput.get('tagForm')?.touched && tagInput.get('tagForm')?.invalid">
        <button type="submit" [disabled]="tagInput.invalid">
            <i class="bi bi-search"></i>
        </button>
    </form>
    <!-- Cantidad de notas -->
    <p class="count_notes">Notas creadas ({{allNotes.length}})</p>
    <!-- Cantidad de notas por etiquetas -->
    <h6>Etiquetas</h6>
    <div class="etiquetas">
    @if (tagsWithCount.length > 0) {
        <table class="tags-table">
            <tbody>
                @for (tag of tagsWithCount; track $index) {
                    <tr class="tag-row">
                        <td class="tag-name">{{ tag.name }}</td>
                        <td class="tag-count">({{ tag.count }})</td>
                    </tr>
                }
            </tbody>
        </table>
    } @else {
        <p>Aún no tienes etiquetas registradas</p>
    }
</div>
    <!-- Botón -->
    <app-more-button (buttonClick)="onCreateNote()"></app-more-button>

</div>

<!-- Edit Dialog -->
 @if (showEditDialog) {
     <app-edit-note-dialog
         (closeDialog)="closeEditDialog()"
         (dataReloaded)="refreshUserDataAndBoards()"></app-edit-note-dialog>
 }