.imagen {
  width: 150px;
  height: auto;
  margin-right: 20px;
}

.admin_container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 3fr;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}

.data_usuarios {
  grid-area: 1 / 1 / 2 / 2;
  width: 70%;
  height: 70%;
  border: 4px solid var(--home-color);
  border-radius: var(--borde-radio);
  margin: auto 5vw;
  display: flex;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
}

.data_usuarios p {
  font-weight: bold;
}

.datos {
  margin: 10px;
  color: var(--text-change);
}

.titulo {
  grid-area: 1 / 2 / 2 / 3;
  width: 70%;
  font-weight: bold;
  margin: auto 0;
  color: var(--text-change);
}

.tabla_usuarios {
  grid-area: 2 / 1 / 3 / 3;
  margin: 10px auto;
  overflow-x: auto;
}

/* ---- TABLA USUARIOS ------- */
table {
  width: 90vw;
}

table,
td {
  border: 1.5px solid var(--home-color);
  border-collapse: collapse;
  padding: 8px;
  text-align: left;
}

th {
  background-color: var(--home-color);
  border: 1.5px solid white;
  padding: 8px;
  border-collapse: collapse;
  text-align: center;
}

td {
  color: var(--text-change);
  background-color: transparent;
}

.tabla_usuarios tbody tr:nth-child(odd) {
  background-color: var(--row-background);
  color: var(--text-dark);
}

/* Botones */
.acciones {
  display: flex;
  justify-content: space-around;
}

.btn_ver {
  color: var(--planner-color);
  cursor: pointer;
}

.btn_eliminar {
  color: var(--dangerColor);
  cursor: pointer;
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Fondo oscuro semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* Encima de todo */
  animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.edit-profile-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  overflow-y: auto;
  animation: slideIn 0.3s ease-out;
  background-color: var(--card-background);
  padding: auto;
  width: 40%;
  border-radius: var(--borde-radio);
}

.edit-container {
  background-color: var(--card-background);
  border-radius: 20px;
  padding: 30px;
  display: flex;
  align-items: center;
  gap: 30px;
  width: 100%;
  position: relative;
}

.edit-form {
  background-color: var(--card-background);
  border: solid var(--home-color);
  border-radius: 20px;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

h2 {
  text-align: center;
  font-style: bold;
}

.profile-image-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #2f62a5;
  background-color: #fff;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  background: none;
  border: none;
  font-size: 2.5rem;
  color: var(--text-secondary);
  cursor: pointer;
  transition: color 0.2s;
  line-height: 1;
  padding: 0;
  width: 35px;
  height: 35px;
  z-index: 10;
}

.close-btn:hover {
  color: #333;
}

@media (max-width: 991px) {
  .admin_container {
    display: flex;
    flex-direction: column;
  }

  .data_usuarios {
    width: 90%;
    height: auto;
    margin: 10px auto;
  }

  .titulo {
    margin: 10px auto;
    text-align: center;
  }

  .tabla_usuarios {
    width: 100%;
    margin: 10px 10px;
  }

  .edit-profile-section {
    width: 80%;
    margin: auto;
  }

  .edit-container {
    padding: 10px;
  }

  .avatar {
    width: 100px;
    height: 100px;
  }
}