div {
    width: 30vw;
    height: auto;
    background-color: var(--card-background);
    padding: 10px;
    border-radius: var(--borde-radio);
    border: var(--home-color) 3px solid;
    z-index: 99999 !important;
}

.mensaje {
    font-size: 1.3rem;
}

.notification {
    display: flex;
    gap: 20px;
}

.read {
    background-color: red;
}

@media (max-width: 991px) {
    div {
        width: 80vw;
    }
}