.board-page {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 20px;
}

.notes_header {
    position: static;
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.sect_derecha {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

h2 {
    color: var(--text-change);
}

.title {
    font-size: 2.5rem;
    font-weight: 600;
}

.imagen_tablero {
    width: 80%;
}

.board-content {
    grid-area: 1 / 1 / 2 / 2;
}

@media (max-width: 991px) {
    .board-page {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .notes_header {
        position: sticky;
        width: 100%;
        height: auto;
        z-index: 10;
    }
    
    .sect_derecha {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: var(--light-background);
        top: 65px;
    }

    .imagen_tablero {
        display: none;
    }

    .board-content {
        width: 100%;
        margin-top: 120px;
    }
}