<div class="notes_container">
  <!-- Vista de miniaturas -->
  <div class="notes_grid">

    <!-- Lista de notas -->
    <div class="notes_list">
      <app-board-note (openDetail)="onOpenDetail($event)"
        (deleteNote)="onDeleteNote($event)">
      </app-board-note>
    </div>
  </div>

  <!-- Vista detallada -->
  @if (showDetail) {
  <div class="detail_view">
    <app-board-note-detail [note]="selectedNote" (closeDetail)="onCloseDetail()"
      (deleteNote)="onDeleteNote($event)" (noteUpdated)="onNoteUpdated($event)">
    </app-board-note-detail>
  </div>
  }
</div>